.dock-box {
    border: 2px solid magenta;
}

#GDockItem #dash * {
    background: transparent !important;
}

#GDockItem #dash {
    margin: 0px !important;
    padding: 0px !important;
    background: transparent !important;
    border: 2px solid blue;
}

#GDockItem #panel {
    margin: 0px !important;
    padding: 0px !important;
    background: transparent !important;
    border: 2px solid blue;
}
